In [1]:
import numpy
import pandas
import matplotlib.pyplot
import seaborn
from sklearn.model_selection import train_test_split
import sklearn

In [3]:
import sqlite3
import os

In [5]:
#DB와 연동
dbpath = r"c:\Apps\database\world.db"

conn = sqlite3.connect(dbpath)
cur = conn.cursor()
cur.execute("SELECT * FROM country LIMIT 5")
rows = cur.fetchall()
for r in rows:
    print(r)
conn.close()

('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')
('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, 5976.0, None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF')
('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, 6648.0, 7984.0, 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO')
('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, 63.2, None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI')
('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, 3205.0, 2500.0, 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL')

In [11]:
################# July 8, 2020 #####################
dbpath = r"c:\Apps\database\world.db"

conn = sqlite3.connect(dbpath)
cur = conn.cursor()
sql = "select * from city limit ? offset ?"
cur.execute(sql, (10, 10))
rows = cur.fetchall()
for r in rows:
    print(r)
conn.close()

(11, 'Groningen', 'NLD', 'Groningen', 172701)
(12, 'Breda', 'NLD', 'Noord-Brabant', 160398)
(13, 'Apeldoorn', 'NLD', 'Gelderland', 153491)
(14, 'Nijmegen', 'NLD', 'Gelderland', 152463)
(15, 'Enschede', 'NLD', 'Overijssel', 149544)
(16, 'Haarlem', 'NLD', 'Noord-Holland', 148772)
(17, 'Almere', 'NLD', 'Flevoland', 142465)
(18, 'Arnhem', 'NLD', 'Gelderland', 138020)
(19, 'Zaanstad', 'NLD', 'Noord-Holland', 135621)
(20, '´s-Hertogenbosch', 'NLD', 'Noord-Brabant', 129170)

In [12]:
dbpath = r"c:\Apps\database\world.db"#r을 사용하는 이유는 이스케이프 문자를 그대로 쓰기 위해서이다
#print_city
def print_city(limit, offset):
    conn = sqlite3.connect(dbpath)
    cur = conn.cursor()
    sql = "select * from city limit ? offset ?"
    cur.execute(sql, (limit, offset))
    rows = cur.fetchall()
    for r in rows:
        print(r)
    conn.close()

In [16]:
# DML (insert, update, delete)
# Table 생성
conn = sqlite3.connect(dbpath)

cur = conn.cursor()
sql = "DROP TABLE IF EXISTS test_ex"
cur.execute(sql)
conn.commit()

conn.close()

In [17]:
# DML (insert, update, delete)
# Table 생성
conn = sqlite3.connect(dbpath)

cur = conn.cursor()
sql = '''
        DROP TABLE IF EXISTS test_ex;
        CREATE TABLE test_ex (a INT, b TEXT, c TEXT);
      '''
cur.executescript(sql)
conn.commit()

conn.close()

In [20]:
#Data 추가
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
sql = '''INSERT INTO test_ex
       VALUES (?,?,?)'''
cur.execute(sql, (10, "what", "why"))
conn.commit()

conn.close()

In [21]:
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
sql = '''
        SELECT *
        FROM test_ex
        '''
cur.execute(sql)
rows = cur.fetchall()
conn.close()

(10, 'what', 'why')
(10, 'what', 'why')

In [29]:
#삭제, 생성, 추가, 검색
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
sql = '''
        DROP TABLE IF EXISTS test_ex;
        CREATE TABLE test_ex(
            a INT,
            b TEXT,
            c TEXT
        );
        INSERT INTO test_ex VALUES(10, "This", "Here");
        INSERT INTO test_ex VALUES(10, "That", "Over there");
        '''
cur.executescript(sql)
#insert 하고 난 뒤에는 commit을 해야한다
conn.commit()

sql2 = "select * from test_ex"
cur.execute(sql2)
rows = cur.fetchall()
for r in rows:
    print(r)

conn.close()

(10, 'This', 'Here')
(10, 'That', 'Over there')

In [30]:
#EXECUTEMANY
data = (
    (1, "This", "Right Here!"),
    (2, "That", "Over There"),
    (3, "These", "Those")
)
conn = sqlite3.connect(dbpath)

cur = conn.cursor()
sql = "INSERT INTO test_ex VALUES (?,?,?)"
cur.executemany(sql, data)
conn.commit()

conn.close()