In [2]:
import numpy
import pandas
import matplotlib.pyplot
import seaborn
from sklearn.model_selection import train_test_split
import sklearn

In [3]:
numpy.__version__
pandas.__version__
matplotlib.__version__
seaborn.__version__
sklearn.__version__

'0.22.1'

In [4]:
import sqlite3
import os

In [5]:
sqlite3.version

'2.6.0'

In [15]:
#DB와 연동
dbpath = r"c:\Apps\database\world.db"

conn = sqlite3.connect(dbpath)
cur = conn.cursor()
cur.execute("SELECT * FROM country LIMIT 5")
rows = cur.fetchall()
for r in rows:
    print(r)
conn.close()

('ABW', 'Aruba', 'North America', 'Caribbean', 193.0, None, 103000, 78.4, 828.0, 793.0, 'Aruba', 'Nonmetropolitan Territory of The Netherlands', 'Beatrix', 129, 'AW')
('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 22720000, 45.9, 5976.0, None, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Mohammad Omar', 1, 'AF')
('AGO', 'Angola', 'Africa', 'Central Africa', 1246700.0, 1975, 12878000, 38.3, 6648.0, 7984.0, 'Angola', 'Republic', 'José Eduardo dos Santos', 56, 'AO')
('AIA', 'Anguilla', 'North America', 'Caribbean', 96.0, None, 8000, 76.1, 63.2, None, 'Anguilla', 'Dependent Territory of the UK', 'Elisabeth II', 62, 'AI')
('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 3401200, 71.6, 3205.0, 2500.0, 'Shqipëria', 'Republic', 'Rexhep Mejdani', 34, 'AL')

In [16]:
conn = sqlite3.connect(dbpath)
cur = conn.cursor()
sql = "select * from country where continent=? AND region=? limit 5"
cur.execute(sql, ('Asia', 'Middle East'))
rows = cur.fetchall()

for r in rows:
    print(r)
conn.close()

('ARE', 'United Arab Emirates', 'Asia', 'Middle East', 83600.0, 1971, 2441000, 74.1, 37966.0, 36846.0, 'Al-Imarat al-´Arabiya al-Muttahida', 'Emirate Federation', 'Zayid bin Sultan al-Nahayan', 65, 'AE')
('ARM', 'Armenia', 'Asia', 'Middle East', 29800.0, 1991, 3520000, 66.4, 1813.0, 1627.0, 'Hajastan', 'Republic', 'Robert Kotšarjan', 126, 'AM')
('AZE', 'Azerbaijan', 'Asia', 'Middle East', 86600.0, 1991, 7734000, 62.9, 4127.0, 4100.0, 'Azärbaycan', 'Federal Republic', 'Heydär Äliyev', 144, 'AZ')
('BHR', 'Bahrain', 'Asia', 'Middle East', 694.0, 1971, 617000, 73.0, 6366.0, 6097.0, 'Al-Bahrayn', 'Monarchy (Emirate)', 'Hamad ibn Isa al-Khalifa', 149, 'BH')
('CYP', 'Cyprus', 'Asia', 'Middle East', 9251.0, 1960, 754700, 76.7, 9333.0, 8246.0, 'Kýpros/Kibris', 'Republic', 'Glafkos Klerides', 2430, 'CY')

In [20]:
def printPopuRange(start, end):    
    conn = sqlite3.connect(dbpath)
    #select name, population as p from country where p between 5000 and 10000
    cur = conn.cursor()
    sql = "select name, population as p from city where p > ? and p< ?"
    cur.execute(sql, (start, end))

    rows = cur.fetchall()
    for r in rows:
        print(r)

    conn.close()
    
printPopuRange(5000, 10000)

('Tafuna', 5200)
('Bridgetown', 6070)
('Belmopan', 7105)
('Road Town', 8000)
('Tamuning', 9500)
('Bikenibeu', 5055)
('Schaan', 5346)
('Vaduz', 5043)
('Valletta', 7073)
('Palikir', 8600)
('Garapan', 9200)
('Saint-Pierre', 5808)

In [1]:
def printPopuRange(start, end):    
    conn = sqlite3.connect(dbpath)
    #select name, population as p from country where p between 5000 and 10000
    cur = conn.cursor()
    sql = "select name, population as p from city where p between :s and :e"
    cur.execute(sql, {"s":start, "e":end})

    rows = cur.fetchall()
    for r in rows:
        print(r)

    conn.close()
    
printPopuRange(5000, 10000)

NameError: name 'sqlite3' is not defined